@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  25% {
    transform: translateX(6px);
  }

  50% {
    transform: translateX(-6px);
  }

  75% {
    transform: translateX(6px);
  }
}

.shake-animation {
  animation: shake 400ms ease-in-out;
}
